/* Globall Styles */
h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  line-height: 1.25;
  text-align: justify;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.section-text {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.box-model {
  width: 300px;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid green;
  background-color: cyan;
}

.styled-box {
  width: 300px;
  height: 50px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid purple;
  background-color: blanchedalmond;
  box-shadow: 5px 5px 5px black;
  transition:
    width 2s,
    height 4s,
    background-color 3s;
}

.styled-box:hover {
  width: 500px;
}
